@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    /* fonts */
    --ff: "Nunito Sans", sans-serif;
    --fw-normal: 300;
    --fw-bold: 600;
    --fw-huge: 800;

    --fs-normal: 14px;
    --fs-md: 16px;

    /* colors */

}

body {
    font-family: var(--ff);
}

body[data-theme='light'] {
    --color-bg: hsl(0, 0%, 98%);
    --color-element: hsl(0, 0%, 100%);
    --color-text: hsl(200, 15%, 8%);
    --color-input: hsl(0, 0%, 52%);
}
body[data-theme='dark']  {
    --color-bg: hsl(207, 26%, 17%);
    --color-element: hsl(209, 23%, 22%);
    --color-text: hsl(0, 0%, 100%);
    --color-input: hsl(0, 0%, 52%);
}